<app-menu></app-menu>
<div>
    <p>request-line-edit works!</p>
    <ng-container *ngIf="loaded">
        <table>
            <tbody>
                <tr>
                    <th>ID</th>
                    <td><input [(ngModel)]="requestLine!.id" disabled></td>
                </tr>
                <tr>
                    <th>Request ID</th>
                    <td><input [(ngModel)]="requestLine!.requestId" disabled></td>
                </tr>
                <tr>
                    <th>Product</th>
                    <td>
                        <select (change)="refreshPrice()" [(ngModel)]="requestLine!.productId">
                            <option *ngFor="let p of products" value="{{ p.id }}">{{ p.name }}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td><input [(ngModel)]="productPrice" disabled></td>
                </tr>
                <tr>
                    <th>Quantity</th>
                    <td><input type="number" (change)="refreshPrice()" [(ngModel)]="requestLine!.quantity"></td>
                </tr>
                <tr>
                    <th>Line Total</th>
                    <td><input [(ngModel)]="lineTotal" disabled></td>
                </tr>
            </tbody>
        </table>
        <button (click)="send()">Save Changes</button>
    </ng-container>
</div>
