/* You can add global styles to this file, and also import other style files */
body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-spacing: 0;
}
body {
    margin: 0 10%;
}
table {
    margin-left: auto;
    margin-right: auto;
}
h1, button {
    margin: 0.5rem 0;
}
.warning {
    color: red;
    margin: 0.5rem 0;
}

.login-form td, .login-form th {
    padding: 0.5rem 1rem;
}
.login-form tbody th {
    text-align: right;
}

h4 {
    margin: 0.5rem 0;
}

.btn-space {
    margin-right: 0.5rem;
}

td {
    vertical-align: middle;
}