<app-menu></app-menu>
<div>
    <p>request-edit works!</p>
    <ng-container *ngIf="loaded">
        <table class="table table-striped-columns table-sm">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td><input [(ngModel)]="request!.id" disabled></td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td><input [(ngModel)]="request!.description"></td>
                </tr>
                <tr>
                    <th>Justification</th>
                    <td><input [(ngModel)]="request!.justification"></td>
                </tr>
                <tr>
                    <th>Rejection Reason</th>
                    <td><input [(ngModel)]="request!.rejectionReason" disabled></td>
                </tr>
                <tr>
                    <th>Delivery Mode</th>
                    <td><input [(ngModel)]="request!.deliveryMode"></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td><input [(ngModel)]="request!.status" disabled></td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td><input [(ngModel)]="request!.total" disabled></td>
                </tr>
                <tr>
                    <th>User</th>
                    <td><input [(ngModel)]="request!.user!.username" disabled></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" (click)="send()">Save Changes</button>
    </ng-container>
</div>
