<app-menu></app-menu>
<div>
    <h4>Create New Request Line</h4>
    <ng-container *ngIf="loaded">
        <table class="table table-striped-columns table-sm">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td><input [(ngModel)]="requestLine.id" disabled></td>
                </tr>
                <tr>
                    <th>Request ID</th>
                    <td><input [(ngModel)]="requestLine.requestId" disabled></td>
                </tr>
                <tr>
                    <th>Product</th>
                    <td>
                        <select (change)="refreshPrice()" [(ngModel)]="requestLine.productId">
                            <option *ngFor="let p of products" value="{{ p.id }}">{{ p.name }}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td><input [(ngModel)]="productPrice" disabled></td>
                </tr>
                <tr>
                    <th>Quantity</th>
                    <td><input type="number" min="1" (change)="refreshPrice()" [(ngModel)]="requestLine.quantity"></td>
                </tr>
                <tr>
                    <th>Line Total</th>
                    <td><input [(ngModel)]="lineTotal" disabled></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" (click)="send()">Create Request Line</button>
    </ng-container>
</div>
