<app-menu></app-menu>
<div>
    <p>request-detail works!</p>
    <ng-container *ngIf="loaded">
        <table>
            <tbody>
                <tr>
                    <th>ID</th>
                    <td><input [(ngModel)]="request!.id" disabled></td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td><input [(ngModel)]="request!.description" disabled></td>
                </tr>
                <tr>
                    <th>Justification</th>
                    <td><input [(ngModel)]="request!.justification" disabled></td>
                </tr>
                <tr>
                    <th>Delivery Mode</th>
                    <td><input [(ngModel)]="request!.deliveryMode" disabled></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td><input [(ngModel)]="request!.status" disabled></td>
                </tr>
            </tbody>
        </table>
        <ng-container *ngIf="!removeToggled">
            <button (click)="toggleRemove()">Delete Request</button>
        </ng-container>
        <ng-container *ngIf="removeToggled">
            <p>Are you sure?</p>
            <button (click)="remove()">Yes</button>
            <button (click)="toggleRemove()">No</button>
        </ng-container>
    </ng-container>
</div>
