<app-menu></app-menu>
<div>
    <h4>Request Details</h4>
    <ng-container *ngIf="loaded">
        <table class="table table-striped-columns table-sm">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td><input [(ngModel)]="request!.id" disabled></td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td><input [(ngModel)]="request!.description" disabled></td>
                </tr>
                <tr>
                    <th>Justification</th>
                    <td><input [(ngModel)]="request!.justification" disabled></td>
                </tr>
                <tr>
                    <th>Rejection Reason</th>
                    <td><input [(ngModel)]="request!.rejectionReason" disabled></td>
                </tr>
                <tr>
                    <th>Delivery Mode</th>
                    <td><input [(ngModel)]="request!.deliveryMode" disabled></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td><input [(ngModel)]="request!.status" disabled></td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td><input [(ngModel)]="request!.total" disabled></td>
                </tr>
                <tr>
                    <th>User</th>
                    <td><input [(ngModel)]="request!.user!.username" disabled></td>
                </tr>
            </tbody>
        </table>
        <div>
            <button class="btn btn-primary" routerLink="/request/edit/{{ request!.id }}">Edit Request</button>
        </div>
        <ng-container *ngIf="!removeToggled">
            <button class="btn btn-danger" (click)="toggleRemove()">Delete Request</button>
        </ng-container>
        <ng-container *ngIf="removeToggled">
            <p>Are you sure?</p>
            <button class="btn btn-danger btn-space" (click)="remove()">Yes</button>
            <button class="btn btn-primary" (click)="toggleRemove()">No</button>
        </ng-container>
    </ng-container>
</div>
