<app-menu></app-menu>
<div>
    <p>request-lines works!</p>
    <ng-container *ngIf="loaded">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Justification</th>
                    <th>Rejection Reason</th>
                    <th>Delivery Mode</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ request!.id }}</td>
                    <td>{{ request!.description }}</td>
                    <td>{{ request!.justification }}</td>
                    <td>{{ request!.rejectionReason }}</td>
                    <td>{{ request!.deliveryMode }}</td>
                    <td>{{ request!.status }}</td>
                    <td>{{ request!.total }}</td>
                    <td>{{ request!.user?.firstname + " " + request!.user?.lastname }}</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Line ID</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Line Total</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rl of request!.requestLines">
                    <td>{{ rl.id }}</td>
                    <td>{{ rl.product?.name }}</td>
                    <td>{{ rl.product?.price | currency }}</td>
                    <td>{{ rl.quantity }}</td>
                    <td>{{ rl.product?.price! * rl.quantity | currency }}</td>
                    <td><button routerLink="/requestline/edit/{{ rl.id }}">Edit</button></td>
                    <td>
                        <div *ngIf="!removeReqLineToggled || toggledReqLineId !== rl.id">
                            <button (click)="toggleRemoveReqLine(rl.id)">Delete</button>
                        </div>
                        <div *ngIf="removeReqLineToggled && toggledReqLineId === rl.id">
                            <p>Are you sure?</p>
                            <button (click)="removeReqLine(rl.id)">Yes</button>
                            <button (click)="toggleRemoveReqLine(rl.id)">No</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <button routerLink="/requestline/create/{{ request!.id }}">Create New Request Line</button>
    </ng-container>
</div>
