<app-menu></app-menu>
<div>
    <h4>Request Lines</h4>
    <ng-container *ngIf="loaded">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Justification</th>
                    <th>Rejection Reason</th>
                    <th>Delivery Mode</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>User</th>
                    <th>Review</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ request!.id }}</td>
                    <td>{{ request!.description }}</td>
                    <td>{{ request!.justification }}</td>
                    <td>{{ request!.rejectionReason }}</td>
                    <td>{{ request!.deliveryMode }}</td>
                    <td>{{ request!.status }}</td>
                    <td>{{ request!.total | currency}}</td>
                    <td>{{ request!.user?.username }}</td>
                    <td><button class="btn btn-primary btn-sm" (click)="reviewRequest()">Submit for Review</button></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Line ID</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Line Total</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rl of request!.requestLines">
                    <td>{{ rl.id }}</td>
                    <td>{{ rl.product?.name }}</td>
                    <td>{{ rl.product?.price | currency }}</td>
                    <td>{{ rl.quantity }}</td>
                    <td>{{ rl.product?.price! * rl.quantity | currency }}</td>
                    <td><button class="btn btn-primary btn-sm" routerLink="/requestline/edit/{{ rl.id }}">Edit</button></td>
                    <td id="staticColumn">
                        <div *ngIf="!removeReqLineToggled || toggledReqLineId !== rl.id">
                            <button class="btn btn-danger btn-sm" (click)="toggleRemoveReqLine(rl.id)">Delete</button>
                        </div>
                        <div *ngIf="removeReqLineToggled && toggledReqLineId === rl.id">
                            <p class="inline btn-space">Are you sure?</p>
                            <button class="btn btn-danger btn-sm btn-space" (click)="removeReqLine(rl.id)">Yes</button>
                            <button class="btn btn-primary btn-sm" (click)="toggleRemoveReqLine(rl.id)">No</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" routerLink="/requestline/create/{{ request!.id }}">Create New Request Line</button>
    </ng-container>
</div>
