ul {
    width: 100%;
    background-color: #454545;
}
li {
    display: inline-block;
    text-align: center;
}
li a {
    color: silver;
    text-decoration: none;
}
li a div {
    padding: 0.5rem 0;
}
li a div:hover {
    color: #454545;
    background-color: silver;
}