<app-menu></app-menu>
<div>
    <p>request-list works!</p>
    <ng-container *ngIf="loaded">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Justification</th>
                    <th>Rejection Reason</th>
                    <th>Delivery Mode</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>User</th>
                    <th>Details</th>
                    <th>Edit</th>
                    <th>Lines</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of requests">
                    <td>{{ r.id }}</td>
                    <td>{{ r.description }}</td>
                    <td>{{ r.justification }}</td>
                    <td>{{ r.rejectionReason }}</td>
                    <td>{{ r.deliveryMode }}</td>
                    <td>{{ r.status }}</td>
                    <td>{{ r.total | currency }}</td>
                    <td>{{ r.user?.username  }}</td>
                    <td><button class="btn btn-primary btn-sm" routerLink="/request/detail/{{ r.id }}">Details</button></td>
                    <td><button class="btn btn-primary btn-sm" routerLink="/request/edit/{{ r.id }}">Edit</button></td>
                    <td><button class="btn btn-primary btn-sm" routerLink="/request/lines/{{ r.id }}">Lines</button></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" routerLink="/request/create">Create New Request</button>
        <button class="btn btn-primary" routerLink="/request/review">Review Requests</button>
    </ng-container>
</div>
