<app-menu></app-menu>
<div>
    <h4>Review Request</h4>
    <ng-container *ngIf="loaded">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Justification</th>
                    <th>Delivery Mode</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ request!.id }}</td>
                    <td>{{ request!.description }}</td>
                    <td>{{ request!.justification }}</td>
                    <td>{{ request!.deliveryMode }}</td>
                    <td>{{ request!.status }}</td>
                    <td>{{ request!.total | currency }}</td>
                    <td>{{ request!.user?.username  }}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Line ID</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Line Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rl of request!.requestLines">
                    <td>{{ rl.id }}</td>
                    <td>{{ rl.product?.name }}</td>
                    <td>{{ rl.product?.price | currency }}</td>
                    <td>{{ rl.quantity }}</td>
                    <td>{{ rl.product?.price! * rl.quantity | currency }}</td>
                </tr>
            </tbody>
        </table>
        <ng-container *ngIf="!rejectToggled">
            <button class="btn btn-success btn-space" (click)="approve()">Approve</button>
            <button class="btn btn-danger" (click)="toggleReject()">Reject</button>
        </ng-container>
        <ng-container *ngIf="rejectToggled">
            <input id="rejectReason" class="btn-space" placeholder="Rejection Reason (required)" [(ngModel)]="rejectionReason">
            <button class="btn btn-danger btn-space" (click)="reject()">Submit Rejection</button>
            <button class="btn btn-primary" (click)="toggleReject()">Cancel</button>
        </ng-container>
    </ng-container>
</div>
